@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
body {
  font-family: "Inter", sans-serif;
}
.featuredImage {
  width: 100vw;
}
.margin {
  margin-top: 100px;
}
.category {
  cursor: pointer;
}
.typo {
  margin-bottom: 50px;
}
.footer {
  display: flex;
  color: #fff;
  background-color: #000;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  padding-top: 50px;
}
.footer div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.footer p {
  text-align: left;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}
.copy-right {
  text-align: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
}
.community {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    padding: 20px;
  }
  .footer p {
    align-items: center;
  }
  .fillter {
    display: flex;
  }
}
